// BW Colors Scale
$white: #fff;
$lighter: #e0e0e0;
$light: #bbb;
$dark: #292929;
$darker: #222;
$black: #000;

// Thee Colors
$theme-colors: (
    'green': #2ebd78,
    'cyan': #00bde7,
    'magenta': #ff01f5,
    'orange': #e78b02,
    'terra': #cc5834
);
